In [1]:
import hana_ml
print(f"SAP HANA Client for Python: {hana_ml.__version__}")

SAP HANA Client for Python: 2.23.25010300

In [2]:
myhost='62f61f95-95b5-4ec0-a551-90d890eabbdf.hana.trial-us10.hanacloud.ondemand.com'
myport=443
myuser='DBADMIN'

In [3]:
from hana_ml import dataframe as hdf
myconn=hdf.ConnectionContext(
    address=myhost, 
    port=myport, 
    user=myuser
)
print(f"Connected to SAP HANA db version {myconn.hana_version()} \nat {myhost}:{myport} as user {myuser}")

Connected to SAP HANA db version 4.00.000.00.1736787327 (fa/CE2024.40)
at 62f61f95-95b5-4ec0-a551-90d890eabbdf.hana.trial-us10.hanacloud.ondemand.com:443 as user DBADMIN

In [14]:
import pandas as pd
import webcolors

# Generate the list of color names and their RGB values
colors_data = [
    (wc, *webcolors.name_to_rgb(wc)) 
    for wc in webcolors.names(spec='css3')
]

# Create a DataFrame from the list
df = pd.DataFrame(colors_data, columns=["Color_Name", "Red", "Green", "Blue"])

# Display the DataFrame
print(df)

       Color_Name  Red  Green  Blue
0       aliceblue  240    248   255
1    antiquewhite  250    235   215
2            aqua    0    255   255
3      aquamarine  127    255   212
4           azure  240    255   255
..            ...  ...    ...   ...
142         wheat  245    222   179
143         white  255    255   255
144    whitesmoke  245    245   245
145        yellow  255    255     0
146   yellowgreen  154    205    50

[147 rows x 4 columns]

In [15]:
hdf_colors=hdf.create_dataframe_from_pandas(
    connection_context=myconn,
    table_name='COLORS',
    pandas_df=df,
    force=True  # Overwrites the table if it already exists
)

100%|██████████| 1/1 [00:00<00:00, 113.84it/s]

In [18]:
hdf_colors.tail(10).collect()

    Color_Name  Red  Green  Blue
0         teal    0    128   128
1      thistle  216    191   216
2       tomato  255     99    71
3    turquoise   64    224   208
4       violet  238    130   238
5        wheat  245    222   179
6        white  255    255   255
7   whitesmoke  245    245   245
8       yellow  255    255     0
9  yellowgreen  154    205    50

In [20]:
myconn.sql('SELECT TOP 3 * FROM COLORS').collect()

     Color_Name  Red  Green  Blue
0     aliceblue  240    248   255
1  antiquewhite  250    235   215
2          aqua    0    255   255