## Check the setup and connect to the database

In [1]:
%run "../01-check_setup.ipynb"

SAP HANA Client for Python: 2.23.25010300
Connected to SAP HANA db version 4.00.000.00.1737457831 (fa/CE2024.40)
at c5889dd5-e0f6-4930-8408-94d53ca61dbf.hna0.prod-us10.hanacloud.ondemand.com:443 as CODEJAMHANAAI00
Current time on the SAP HANA server: 2025-01-30 21:39:21.996000

# Load Colors Data

## Generate colors

In [2]:
import pandas as pd
import webcolors

specs=[webcolors.HTML4, webcolors.CSS2, webcolors.CSS21, webcolors.CSS3]

In [3]:
for spec in specs:
    # Display the `spec`
    print(spec)
    
    # Generate the list of color names and their RGB values
    colors_data = [
        (wc, *webcolors.name_to_rgb(wc)) 
        for wc in webcolors.names(spec=spec)
    ]

    # Create a DataFrame from the list
    df = pd.DataFrame(colors_data, columns=["Color_Name", "Red", "Green", "Blue"])

    hdf_colors=hdf.create_dataframe_from_pandas(
        connection_context=myconn,
        table_name=f'COLORS_{spec.upper()}',
        schema='COLORS',
        pandas_df=df,
        force=True  # Overwrites the table if it already exists
    )

html4

100%|██████████| 1/1 [00:00<00:00, 14.70it/s]

css2

100%|██████████| 1/1 [00:00<00:00, 83.88it/s]

css21

100%|██████████| 1/1 [00:00<00:00, 74.51it/s]

css3

100%|██████████| 1/1 [00:00<00:00, 77.38it/s]

In [4]:
myconn.get_tables("COLORS")

     TABLE_NAME
0   COLORS_CSS2
1  COLORS_CSS21
2   COLORS_CSS3
3  COLORS_HTML4