## Check the setup and connect to the database

In [2]:
%run "../check_setup.ipynb"

SAP HANA Client for Python: 2.23.25010300
Connected to SAP HANA db version 4.00.000.00.1736867381 (fa/CE2024.40)
at c5889dd5-e0f6-4930-8408-94d53ca61dbf.hna0.prod-us10.hanacloud.ondemand.com:443 as CODEJAMHANAML40
Current time on the SAP HANA server: 2025-01-27 13:10:29.490000

In [85]:
myconn.get_tables(schema='NHTSA')

   TABLE_NAME
0  COMPLAINTS

In [7]:
import pandas as pd

In [124]:
import_df = pd.read_csv('https://static.nhtsa.gov/odi/ffdd/cmpl/COMPLAINTS_RECEIVED_2020-2024.zip', sep='\t', header=None)
import_df.shape

/tmp/ipykernel_14418/1342734287.py:1: DtypeWarning: Columns (27,28,29,30,33,38,41,44) have mixed types. Specify dtype option on import or set low_memory=False.
  import_df = pd.read_csv('https://static.nhtsa.gov/odi/ffdd/cmpl/COMPLAINTS_RECEIVED_2020-2024.zip', sep='\t', header=None)

(418333, 49)

In [116]:
import_df = pd.read_csv('https://static.nhtsa.gov/odi/ffdd/cmpl/COMPLAINTS_RECEIVED_2025-2025.zip', sep='\t', header=None)
import_df.shape

(6768, 49)

In [125]:
import_df.rename(columns={
    0: 'CMPLID',
    1: 'ODINO',
    2: 'MFR_NAME',
    3: 'MAKETXT',
    4: 'MODELTXT',
    5: 'YEARTXT',
    6: 'CRASH',
    7: 'FAILDATE',
    8: 'FIRE',
    9: 'INJURED',
    10: 'DEATHS',
    11: 'COMPDESC',
    12: 'CITY',
    13: 'STATE',
    14: 'VIN',
    15: 'DATEA',
    16: 'LDATE',
    17: 'MILES',
    18: 'OCCURENCES',
    19: 'CDESCR',
    20: 'CMPL_TYPE',
    21: 'POLICE_RPT_YN',
    22: 'PURCH_DT',
    23: 'ORIG_OWNER_YN',
    24: 'ANTI_BRAKES_YN',
    25: 'CRUISE_CONT_YN',
    26: 'NUM_CYLS',
    27: 'DRIVE_TRAIN',
    28: 'FUEL_SYS',
    29: 'FUEL_TYPE',
    30: 'TRANS_TYPE',
    31: 'VEH_SPEED',
    32: 'DOT',
    33: 'TIRE_SIZE',
    34: 'LOC_OF_TIRE',
    35: 'TIRE_FAIL_TYPE',
    36: 'ORIG_EQUIP_YN',
    37: 'MANUF_DT',
    38: 'SEAT_TYPE',
    39: 'RESTRAINT_TYPE',
    40: 'DEALER_NAME',
    41: 'DEALER_TEL',
    42: 'DEALER_CITY',
    43: 'DEALER_STATE',
    44: 'DEALER_ZIP',
    45: 'PROD_TYPE',
    46: 'REPAIRED_YN',
    47: 'MEDICAL_ATTN',
    48: 'VEHICLES_TOWED_YN'
}, inplace=True)

In [106]:
# Combine them into a single DataFrame
pd.DataFrame({
    'Original Dtypes': import_df.dtypes,
    'Converted Dtypes': import_df.convert_dtypes().dtypes
})

                  Original Dtypes Converted Dtypes
CMPLID                      int64            Int64
ODINO                       int64            Int64
MFR_NAME                   object   string[python]
MAKETXT                    object   string[python]
MODELTXT                   object   string[python]
YEARTXT                     int64            Int64
CRASH                      object   string[python]
FAILDATE                    int64            Int64
FIRE                       object   string[python]
INJURED                     int64            Int64
DEATHS                      int64            Int64
COMPDESC                   object   string[python]
CITY                       object   string[python]
STATE                      object   string[python]
VIN                        object   string[python]
DATEA                       int64            Int64
LDATE                       int64            Int64
MILES                     float64            Int64
OCCURENCES                float64            Int64
CDESCR                     object   string[python]
CMPL_TYPE                  object   string[python]
POLICE_RPT_YN              object   string[python]
PURCH_DT                  float64            Int64
ORIG_OWNER_YN              object   string[python]
ANTI_BRAKES_YN             object   string[python]
CRUISE_CONT_YN             object   string[python]
NUM_CYLS                  float64            Int64
DRIVE_TRAIN               float64            Int64
FUEL_SYS                  float64            Int64
FUEL_TYPE                 float64            Int64
TRANS_TYPE                float64            Int64
VEH_SPEED                 float64            Int64
DOT                        object   string[python]
TIRE_SIZE                 float64            Int64
LOC_OF_TIRE                object   string[python]
TIRE_FAIL_TYPE             object   string[python]
ORIG_EQUIP_YN              object   string[python]
MANUF_DT                  float64            Int64
SEAT_TYPE                  object   string[python]
RESTRAINT_TYPE             object   string[python]
DEALER_NAME                object   string[python]
DEALER_TEL                 object   string[python]
DEALER_CITY                object   string[python]
DEALER_STATE               object   string[python]
DEALER_ZIP                 object   string[python]
PROD_TYPE                  object   string[python]
REPAIRED_YN                object   string[python]
MEDICAL_ATTN               object   string[python]
VEHICLES_TOWED_YN          object   string[python]

In [126]:
import_df=import_df.convert_dtypes()

In [127]:
import_df[import_df['CDESCR'].str.len() > 5000][['CMPLID']]

         CMPLID
261213  1894511
285022  1918341
298904  1932234
300901  1934249

In [ ]:
pd.set_option('max_colwidth', None) 
display(
    import_df
    .head(1).T
    .style.set_properties(subset=[0], **{'text-align': 'left'})
)

In [128]:
carcomplaints_hdf = hana_ml.dataframe.create_dataframe_from_pandas(myconn,
                                           import_df[import_df['CDESCR'].str.len() <= 5000],
                                            table_name="COMPLAINTS",
                                            schema='NHTSA',
                                            force=True)

100%|██████████| 9/9 [00:17<00:00,  1.96s/it]

In [129]:
carcomplaints_hdf.shape

[418304, 49]

In [121]:
myconn.get_tables(schema="NHTSA")

   TABLE_NAME
0  COMPLAINTS

In [130]:
myconn.table("COMPLAINTS", schema='NHTSA').filter("LEFT(LDATE,4) = '2024'").describe().collect().sort_values(by='unique', ascending=True)

,column,count,unique,nulls,mean,std,min,max,median,25_percent_cont,25_percent_disc,50_percent_cont,50_percent_disc,75_percent_cont,75_percent_disc
9,OCCURENCES,0,0,97838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,TIRE_SIZE,0,0,97838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,ORIG_OWNER_YN,96411,2,1427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,POLICE_RPT_YN,97838,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,CRUISE_CONT_YN,96411,2,1427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,FUEL_SYS,47,2,97791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,FIRE,97838,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,ANTI_BRAKES_YN,96411,2,1427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,CMPL_TYPE,97838,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,ORIG_EQUIP_YN,500,2,97338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,VEHICLES_TOWED_YN,96411,2,1427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,MEDICAL_ATTN,97838,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,REPAIRED_YN,631,2,97207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,CRASH,97838,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,TRANS_TYPE,55,2,97783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,DRIVE_TRAIN,539,4,97299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,PROD_TYPE,97838,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,SEAT_TYPE,249,4,97589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,FUEL_TYPE,535,4,97303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,DEATHS,97838,5,0,1.758008e-03,0.318096,0.0,99.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0
11,NUM_CYLS,498,5,97340,5.126506e+00,1.367214,3.0,8.0,4.0,4.00,4.0,4.0,4.0,6.00,6.0
35,LOC_OF_TIRE,536,5,97302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,RESTRAINT_TYPE,206,5,97632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,TIRE_FAIL_TYPE,78,6,97760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,INJURED,97838,11,0,3.130685e-02,0.399682,0.0,99.0,0.0,0.00,0.0,0.0,0.0,0.00,0.0
10,PURCH_DT,288,30,97550,2.020961e+07,31355.635502,20090101.0,20240929.0,20220101.0,20190101.00,20190101.0,20220101.0,20220101.0,20230101.00,20230101.0
2,YEARTXT,97838,40,0,2.140728e+03,981.900576,1971.0,9999.0,2018.0,2016.00,2016.0,2018.0,2018.0,2022.00,2022.0
43,DEALER_STATE,11247,56,86591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,STATE,97838,62,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,VEH_SPEED,46685,118,51153,3.492599e+01,30.569622,0.0,999.0,35.0,5.00,5.0,35.0,35.0,60.00,60.0
13,MANUF_DT,202,136,97636,2.021970e+07,15078.771207,20161202.0,20240807.0,20221021.0,20211006.00,20211006.0,20221020.5,20221019.0,20230724.00,20230724.0
14,MFR_NAME,97838,259,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,DOT,434,271,97404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,MAKETXT,97838,299,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,DATEA,97838,366,0,2.024066e+07,345.469381,20240101.0,20241231.0,20240627.0,20240327.00,20240327.0,20240627.0,20240627.0,20240926.00,20240926.0
7,LDATE,97838,366,0,2.024066e+07,345.469381,20240101.0,20241231.0,20240627.0,20240327.00,20240327.0,20240627.0,20240627.0,20240926.00,20240926.0
19,COMPDESC,97838,459,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,MODELTXT,97838,1633,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FAILDATE,97838,2055,0,2.023722e+07,11579.278951,19580326.0,20241231.0,20240501.0,20240118.00,20240118.0,20240501.0,20240501.0,20240816.00,20240816.0
41,DEALER_TEL,4397,2893,93441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,MILES,17899,3030,79939,7.990361e+04,58749.733130,0.0,1100000.0,75000.0,35000.00,35000.0,75000.0,75000.0,116000.00,116000.0
42,DEALER_CITY,11323,3435,86515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,DEALER_ZIP,10018,3503,87820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,DEALER_NAME,11782,7225,86056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,CITY,97836,15485,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,VIN,95440,41976,2398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,CDESCR,97838,66284,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ODINO,97838,67688,0,1.159814e+07,20829.215777,11562872.0,11633471.0,11597341.0,11579782.25,11579782.0,11597340.5,11597340.0,11616594.75,11616595.0
0,CMPLID,97838,97838,0,2.002782e+06,28248.173954,1953856.0,2051708.0,2002783.0,1978317.25,1978317.0,2002782.5,2002782.0,2027245.75,2027246.0